In [1]:
%reset -f

In [2]:
%reload_ext sql
%sql sqlite:///../ontology/tmp/merged.db

In [3]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///../ontology/tmp/merged.db
Done.

[('term_association',),
 ('has_oio_synonym_statement',),
 ('anonymous_expression',),
 ('anonymous_class_expression',),
 ('anonymous_property_expression',),
 ('anonymous_individual_expression',),
 ('owl_restriction',),
 ('owl_complex_axiom',),
 ('prefix',),
 ('statements',),
 ('rdf_list_statement',),
 ('rdf_level_summary_statistic',),
 ('relation_graph_construct',),
 ('subgraph_query',),
 ('entailed_edge',),
 ('repair_action',),
 ('problem',),
 ('lexical_problem',)]

In [5]:
import pandas as pd
result = %sql SELECT * FROM statements WHERE subject LIKE "%MONDO:%" AND object LIKE "%ICD10%"
df = pd.DataFrame(result)
df.to_csv("mondo_icd.tsv", sep='\t', index = False)
df.head()

 * sqlite:///../ontology/tmp/merged.db
Done.

,stanza,subject,predicate,object,value,datatype,language
0,MONDO:0000087,MONDO:0000087,skos:narrowMatch,<https://icd.codes/icd10cm/Q04.3>,None,None,None
1,MONDO:0000088,MONDO:0000088,skos:exactMatch,<https://icd.codes/icd10cm/E30.1>,None,None,None
2,MONDO:0000088,MONDO:0000088,skos:exactMatch,<http://purl.bioontology.org/ontology/ICD10CM/...,None,None,None
3,MONDO:0000107,MONDO:0000107,skos:narrowMatch,<https://icd.codes/icd10cm/Q75.8>,None,None,None
4,MONDO:0000110,MONDO:0000110,skos:narrowMatch,<https://icd.codes/icd10cm/Q30.2>,None,None,None

In [6]:
result = %sql SELECT * FROM statements WHERE (subject LIKE "%MONDO:%" OR subject LIKE "%icd10cm%") AND predicate IN ("rdfs:label", "oio:hasExactSynonym")
df = pd.DataFrame(result)
df.to_csv("mondo_icd_2.tsv", sep='\t', index = False)
df.head()

 * sqlite:///../ontology/tmp/merged.db
Done.

,stanza,subject,predicate,object,value,datatype,language
0,MONDO:0000001,MONDO:0000001,oio:hasExactSynonym,None,other disease,xsd:string,None
1,MONDO:0000001,MONDO:0000001,oio:hasExactSynonym,None,medical condition,xsd:string,None
2,MONDO:0000001,MONDO:0000001,oio:hasExactSynonym,None,disorders,xsd:string,None
3,MONDO:0000001,MONDO:0000001,oio:hasExactSynonym,None,disorder,xsd:string,None
4,MONDO:0000001,MONDO:0000001,oio:hasExactSynonym,None,diseases and disorders,xsd:string,None

In [10]:
%sql SELECT * FROM statements WHERE (subject LIKE "%icd10cm%") AND predicate IN ("rdfs:label", "oio:hasExactSynonym")

 * sqlite:///../ontology/tmp/merged.db
Done.

[]

In [ ]:
%sql SELECT * FROM entailed_edge WHERE object LIKE "%ICD10%" LIMIT 100

In [ ]:
%sql SELECT * FROM entailed_edge WHERE subject LIKE "%MONDO_%" AND object LIKE "%ICD10%" LIMIT 100

In [ ]:
%sql SELECT * FROM entailed_edge WHERE subject LIKE "%ICD10%" AND object LIKE "%MONDO_%"  LIMIT 100

In [ ]:
%sql SELECT * FROM entailed_edge WHERE subject LIKE "%ICD10%" LIMIT 100